---
import DateSelectButton from "../components/DateSelectButton.svelte"
import DaySelectList from "../components/DaySelectList.svelte";
import LoginButton from "../components/LoginButton.svelte"
import TodoList from "../components/TodoList.svelte"
import Layout from "../layouts/BaseLayout.astro"
---

<Layout title="Diato - 요일별 할 일">
  <div class="flex flex-row items-center justify-between">
    <DateSelectButton client:load />
    <LoginButton client:load />
  </div>
  <div class="py-4"></div>
  <div class="flex flex-row items-center justify-between gap-x-4">
    <DaySelectList client:load />
  </div>
  <TodoList client:only />
</Layout>
