---
import LoginButton from "../components/LoginButton.svelte"
import TodoList from "../components/TodoList.svelte"
import Layout from "../layouts/BaseLayout.astro"
---

<Layout title="Diato - 요일별 할 일">
  <div class="flex flex-row items-center justify-between">
    <button type="button" class="transition duration-200 hover:opacity-50">
      <p class="text-4xl font-bold">4월 21일</p>
    </button>

    <LoginButton client:load />
  </div>
  <div class="py-4"></div>
  <div class="flex flex-row items-center justify-between gap-x-4">
    <button
      type="button"
      class="h-8 w-8 grid place-items-center rounded-lg transition duration-200 hover:bg-black/5 text-neutral-700"
    >
      <p class="text-xl font-bold">일</p>
    </button>
    <button
      type="button"
      class="h-8 w-8 grid place-items-center rounded-lg transition duration-200 hover:bg-black/5 text-neutral-700"
    >
      <p class="text-xl font-bold">월</p>
    </button>
    <button
      type="button"
      class="h-8 w-8 grid place-items-center rounded-lg transition duration-200 hover:bg-black/5 text-neutral-700"
    >
      <p class="text-xl font-bold">화</p>
    </button>
    <button
      type="button"
      class="h-8 w-8 grid place-items-center rounded-lg transition duration-200 hover:bg-black/5 text-neutral-700"
    >
      <p class="text-xl font-bold">수</p>
    </button>
    <button
      type="button"
      class="h-8 w-8 grid place-items-center rounded-lg transition duration-200 hover:bg-black/5 text-neutral-700"
    >
      <p class="text-xl font-bold">목</p>
    </button>
    <button
      type="button"
      class="h-8 w-8 grid place-items-center rounded-lg transition duration-200 hover:bg-black/5 text-neutral-700"
    >
      <p class="text-xl font-bold">금</p>
    </button>
    <button
      type="button"
      class="h-8 w-8 grid place-items-center rounded-lg transition duration-200 hover:bg-black/5 text-neutral-700"
    >
      <p class="text-xl font-bold">토</p>
    </button>
  </div>
  <TodoList client:only />
</Layout>
